.genre-standard {
    &__first-section {
        height: 100vh;
        &--carousel {
            // background: red;
            height: 60%;
        }
        &--news {
            height: 60%;
            &--container {
                height: 100%;
            }
        }
    }
}
