.container-fluid {
    // background-color: #cccccc;
    // background-color: $scrutiny-grey;
    height: 100vh;
    position: relative;
}
.container__image-container {
    // background-color: red;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    // display: none;
}
