@import "../../bootstrap-utils";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

/* put the font family in the body selector for the universal font, these will be inherited by child elements*/
html {
    background-color: $scrutiny-grey;
}

body {
    font-size: 62.5%;
}

h3 {
    font-size: clamp(2em, 2vw, 4em);
}
