* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* put the font family in the body selector for the universal font, these will be inherited by child elements*/
html {
    font-size: 62.5%;
}
