/*---------SCRUTINY UTILITY STYLES-------------*/
$h1: 40px;
$h2: 40px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$body: 20px;

$h1-mob: 36px;
$h2-mob: 36px;
// Colors
$scrutiny-navy-blue: #22264b;
$scrutiny-midnight-blue: #121a3e;
$scrutiny-dark-grey: #3c3c3b;
$scrutiny-fogra-black: #00171f;
$scrutiny-gold: #e7bb6a;
$scrutiny-grey: #cccccc;
$scrutiny-off-white: #f7f7f7;
$scrutiny-cool-grey: #909cc2;
$facebook: rgb(0, 110, 255);
$twitter: rgb(86, 154, 243);
$instagram: rgb(255, 0, 191);
$youtube: rgb(251, 1, 0);

// Light Theme
$scrutiny-primary-light: #ffffff;
$scrutiny-secondary-light: #000000;
$scrutiny-tertiary-light: #184495;
$scrutiny-accents-light: #121a3e;
$scrutiny-background-light: #f9f9f9;
$scrutiny-misc-light: #888;

// Dark Theme
$scrutiny-primary-dark: #000000;
$scrutiny-secondary-dark: #ffffff;
$scrutiny-tertiary-dark: #e7bb6a;
$scrutiny-accents-dark: #ede5c1;
$scrutiny-background-dark: #060606;
$scrutiny-misc-dark: #888;

// Spacing
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;

//Devices
$breakpoint-extra-large-screen: 1201px;
$breakpoint-desktop: 1200px;
$breakpoint-small-screens: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-fold: 300px;
