.news-item {
    position: relative;
    margin-top: 16px;
    .news-container {
        position: relative;
        &__img-holder {
            width: 100%;
            position: relative;
            height: 130px;
            z-index: 1;
            .news-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 0.3s ease;
            }
        }
        &__content-holder {
            margin-top: 16px;
            a {
                text-decoration: none;
                line-height: 20px;
            }
        }
        &__numbering {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(40%);
            z-index: 0;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
    &:hover .news-image {
        filter: brightness(120%);
    }

    .news-container-main {
        margin-top: 16px;
        position: relative;
        &__img-holder {
            width: 100%;
            position: relative;
            height: 300px;
            .news-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 0.3s ease;
            }
        }
        &__title-holder {
            height: 80px;
        }
        &__content-holder {
            margin-top: 16px;
            a {
                text-decoration: none;
                line-height: 20px;
            }
            .synopsis {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                color: black;
            }
        }
    }
}
